
html{
    font-size: calc(1em + 1vw);
}

*{
    box-sizing: border-box;
}

body{
    background-color:rgba(105, 144, 103, 0.707);
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 1rem;
}

/**HEADER**/
header{
    font-size: 1rem;
    font-weight: 500;
    grid-area: header;
    padding-top: 0;
    padding-bottom: 0;
}

header nav{
    display: inline;
    justify-content: space-between;
    text-align: center;
}

header nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 0;
}

header nav ul li{
    display: inline;
    list-style: none;
}

header nav ul li a{
    padding: 25px;
    margin: -25px;
}

.navbar li{
    display: block;
    padding: 15px;
    background-color: rgba(97, 122, 96, 0.707);
}

a{
    text-decoration: none;
    color: black;
}
/**SLUTT**/

/**HOVEDINNHOLD**/
main h1{
    text-align: center;
    font-size: 1.5rem;
}

.knapper{
    background-color: rgb(183, 194, 194);
    display: block;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
    border-radius: 5px;
    line-height: 25px;
}

#search{
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

.searchbar{
    font-size: 1rem;
}

main h2{
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 1rem;
}

/**GJØR AT BILDENE SLUTTER Å PRESSE UT SIDENE**/
main section figure img{
    width: 100%;
}

main section article{
    text-align: center;
}

main section article figure img{
    width: 100%;
    text-align: center;
    transform: scale(0.95);
}

main section article figure figcaption{
    width: 100%;
    text-align: center;
    font-size: 4vw;
}

.read-more-btn{
    background-color: rgb(183, 194, 194);
    padding: 10px;
    border-radius: 5px;
}

main section article h3{
    margin-top: 0;
}

main article h3{
    text-align: center;
}

main article p{
    text-align: center;
}

#velg-farge{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#velg-størrelse{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main section button{
    padding: 10px;
    font-size: 0.8rem;
}

main section label{
    display: block;
}

main section button{
    display: block;
    margin-top: 10px;
}
/**SLUTT**/

/**CSS FOR ANALYSESIDEN**/
.analyse{
    font-size: 1rem;
}

table, th, td{
    border: 1px solid;
    background-color: white;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7rem;
}

.forbedringer{
    border: 2px solid rgb(0, 0, 0);
}

/**SLUTT**/

/**FOOTER**/
footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(97, 122, 96, 0.707);
}

footer nav ul{
    text-align: center;
    padding-left: 0;
}

footer nav ul li{
    list-style-type: none;
    font-size: 1rem;
    padding: 0 20px 0 20px;
}

footer h4{
    font-size: 4vw;
    text-align: center;
}
/**SLUTT**/

#produkt{
    text-align: center;
}

/**HAMBURGERMENY**/
.navbar{
    display: none;
}

.responsive{
    display: block;
}
/**SLUTT**/

/**DESKTOP**/
@media only screen and (min-width:600px){

    main section article figure figcaption p{
        font-size: 0.7rem;
    }

    main section figure figcaption p{
        font-size: 0.7rem;
    }

    footer h4{
        font-size: 1rem;
    }

}
/**SLUTT**/

/**Kilder:
    Webutvikling av Tom Heine Natt, Eva M. Hornnes, Jostein Nordengen
    W3schools.com
**/